:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --bg-theme-bg-color: white;
  --bg-theme-font-color: #222222;

  --card-theme-bg-color: #212529;
  --card-theme-font-color: white;
  --card-theme-barder-color: #6d6d6d;
}

.bg-theme-custom {
  background-color: var(--bg-theme-bg-color) !important;
  color: var(--bg-theme-font-color) !important;
}

.card-theme-custom {
  background-color: var(--card-theme-bg-color) !important;
  color: var(--card-theme-font-color) !important;
  border: 1px solid var(--card-theme-barder-color) !important;
}

a {
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  /* Navbar height */
  padding-top: 56px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}