<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>나의 커리어 게시판</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- CKEditor5 연결 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <style>
        .ck-editor__editable {
            min-height: 300px;
            margin-bottom: 10px;
        }
    </style>

</head>

<body class="container mt-5">
    <h2>🚀 나만의 임시 게시판! (CRUD)</h2>

    <div class="card p-3 mb-4">
        <!-- 게시글 업로드 -->
        <form action="/posts/save" method="post" enctype="multipart/form-data">
            <div>
                <label for="title">제목</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div>
                <label for="editor">내용</label>
                <textarea id="editor" name="content"></textarea>
            </div>

            <button type="submit">저장하기</button>
        </form>
    </div>

    <!-- 게시글 목록 -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>내용</th>
                <th>시간</th>
                <th>관리</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td th:text="${post.title}"></td>
                <td th:utext="${post.content}"></td>
                <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd / HH:mm:ss')}"></td>
                <td>
                    <form th:action="@{/posts/{id}(id=${post.id})}" th:method="delete">
                        <button type="submit">삭제</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- CKEditor5 스크립트 -->
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                // 이미지 업로드 핸들러 Controller와 연결
                ckfinder: {
                    uploadUrl: '/api/image/upload'
                },
                toolbar: ['heading', '|', 'bold', 'italic', 'link',
                    'bulletedList', 'numberedList', 'blockQuote', 'insertTable',
                    'imageUpload', 'undo', 'redo']
            })
            .then(editor => {
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>