<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>postDetail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/postsStyle.css}">
</head>

<body class="container mt-5">
    <h2>게시글 상세</h2>
    <table class="table table-striped">
        <a th:href="@{/posts}" class="btn btn-warning">목록으로</a>
        <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>내용</th>
                <th>시간</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <td th:text="${post?.id}"></td>
            <td th:text="${post?.title}"></td>
            <td th:utext="${post?.content}"></td>
            <td th:text="${#temporals.format(post?.createdAt, 'yyyy-MM-dd / HH:mm:ss')}"></td>
            <td th:if="${post?.id != null}">
                <a th:href="@{/posts/editor/{id}(id=${post.id})}" class="btn btn-warning">수정</a>
            </td>
            <td th:if="${post?.id != null}">
                <form th:action="@{/posts/delete/{id}(id=${post.id})}" th:method="delete">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tbody>
    </table>
</body>

</html>