<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>posts</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/postsStyle.css}">
</head>

<body class="container mt-5">

    <h2>게시글 목록</h2>

    <table class="table table-striped">
        <a th:href="@{/posts/showLog}" class="btn btn-primary">로그 호출</a>
        <a th:href="@{/posts/editor}" class="btn btn-primary">글 쓰기</a>
        <form th:action="@{/posts/cleanup}" method="post" style="display:inline;">
            <button type="submit" class="btn btn-primary">비참조 파일 삭제</button>
        </form>
        <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>시간</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td>
                    <span th:if="${post.hasImage}" class="badge bg-info">📷</span>
                    <a th:href="@{/posts/detail/{id}(id=${post.id})}" th:text="${post.title}"
                        style="text-decoration: none; color: black;"></a>
                <td th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd / HH:mm')}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>